<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <title>Home</title>

      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

      {% load static %}
      <script src="{% static 'js/main.js' %}"></script>
   </head>

   <body>
     {% include 'nav.html' with user=user %}

     <table id="table-vagas" class="table">
       <thead>
         <tr>
           <th>Empresa</th>
           <th>Nome</th>
           <th>Pretensão Mínima</th>
           <th>Pretensão Máxima</th>
           <th>Experiência</th>
           <th>Escolaridade</th>
           <th>Distância</th>
         </tr>
       </thead>
       <tbody>
         {% for vaga in vagas %}
           <tr>
             <td>{{ vaga.empresa.username }}</td>
             <td>{{ vaga.nome }}</td>
             <td>R$ {{ vaga.pretensao_minima }}</td>
             <td>R$ {{ vaga.pretensao_maxima }}</td>
             <td>{{ vaga.experiencia }}</td>
             <td>{{ vaga.escolaridade }}</td>
             <td>{{ vaga.distancia }}</td>
           </tr>
         {% endfor %}
       </tbody>
     </table>
   </body>
</html>
