{% for vaga in vagas %}
  <tr>
    <td>{{ vaga.empresa.username }}</td>
    <td>{{ vaga.nome }}</td>
    <td>R$ {{ vaga.pretensao_minima }}</td>
    <td>R$ {{ vaga.pretensao_maxima }}</td>
    <td>{{ vaga.experiencia }}</td>
    <td>{{ vaga.escolaridade }}</td>
    <td>{{ vaga.distancia }}</td>
    <td><a class="btn btn-primary" href="{{ vaga.get_absolute_url }}">Editar</a></td>
    <td><a class="btn btn-danger btn-delete-vaga" data-url="{% url 'vaga_delete' vaga.id %}"> Deletar</a></td>
  </tr>
{% endfor %}
