<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <title>Editar Vaga</title>

      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

      {% load static %}
      <script src="{% static 'js/main.js' %}"></script>
   </head>

   <body>
     {% include 'nav.html' with user=user %}

     {% load bootstrap3 %}

     <div class="col-md-offset-4 col-md-4">
       <h3>Editar Vaga</h3>
       </br>
       <form method="POST">
         {% csrf_token %}
         {% bootstrap_form form %}
         {% buttons %}
          <button type="submit" class="btn btn-primary">
            Editar
          </button>
         {% endbuttons %}
       </form>
     </div>
   </body>
</html>
