<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <title>Empresa</title>

      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   </head>

   <body>
    {% include 'nav.html' with user=user %}

     <h1>Titúlo Vaga: {{ vaga.nome }}</h1>

     <p><strong>Empresa:</strong> <a href="">{{ vaga.empresa.username }}</a></p>
     <p><strong>Pretensão Mínima:</strong> {{ vaga.pretensao_minima }}</p>
     <p><strong>Pretensão Máxima:</strong> {{ vaga.pretensao_maxima }}</p>
     <p><strong>Experiência:</strong> {{ vaga.experiencia }}</p>
     <p><strong>Distância:</strong> {{ vaga.distancia }}</p>
   </body>
</html>
